STUPDENT PERFORMANCE INDICATOR - EDA Exploratory Data Analysis

Importing libraries NUMPY PANDAS, MATPLOTLIB, SEABORN

In [17]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

Read the dataset

In [18]:
data = pd.read_csv('data/stud.csv')

In [19]:
data.head(5)

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

shape of the dataset

In [20]:
data.shape

(1000, 8)

In [21]:
data.isna().sum()

gender                         0
race_ethnicity                 0
parental_level_of_education    0
lunch                          0
test_preparation_course        0
math_score                     0
reading_score                  0
writing_score                  0
dtype: int64

In [22]:
data.duplicated().sum()

0

There are no duplicates in the dataset

check datatypes

In [23]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race_ethnicity               1000 non-null   object
 2   parental_level_of_education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test_preparation_course      1000 non-null   object
 5   math_score                   1000 non-null   int64
 6   reading_score                1000 non-null   int64
 7   writing_score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

Checking the number of values of each column

In [24]:
data.nunique()

gender                          2
race_ethnicity                  5
parental_level_of_education     6
lunch                           2
test_preparation_course         2
math_score                     81
reading_score                  72
writing_score                  77
dtype: int64

In [25]:
data['race_ethnicity'].value_counts()

race_ethnicity
group C    319
group D    262
group B    190
group E    140
group A     89
Name: count, dtype: int64

check the statistics of the dataset

In [26]:
data.describe()

       math_score  reading_score  writing_score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

In [27]:
print('---Gender----\n')
print(data['gender'].value_counts())
print('\n---Lunch----\n')
print(data['lunch'].value_counts())
print('\n---Parental level of education----\n')
print(data['parental_level_of_education'].value_counts())
print('\n---Race Ethnicity----\n')
print(data['race_ethnicity'].value_counts())
print('\n---Test Preparation course----\n')
print(data['test_preparation_course'].value_counts())

---Gender----

gender
female    518
male      482
Name: count, dtype: int64

---Lunch----

lunch
standard        645
free/reduced    355
Name: count, dtype: int64

---Parental level of education----

parental_level_of_education
some college          226
associate's degree    222
high school           196
some high school      179
bachelor's degree     118
master's degree        59
Name: count, dtype: int64

---Race Ethnicity----

race_ethnicity
group C    319
group D    262
group B    190
group E    140
group A     89
Name: count, dtype: int64

---Test Preparation course----

test_preparation_course
none         642
completed    358
Name: count, dtype: int64

In [28]:
print('---Gender----\n')
print(data['gender'].unique())
print('\n---Lunch----\n')
print(data['lunch'].unique())
print('\n---Parental level of education----\n')
print(data['parental_level_of_education'].unique())
print('\n---Race Ethnicity----\n')
print(data['race_ethnicity'].unique())
print('\n---Test Preparation course----\n')
print(data['test_preparation_course'].unique())

---Gender----

['female' 'male']

---Lunch----

['standard' 'free/reduced']

---Parental level of education----

["bachelor's degree" 'some college' "master's degree" "associate's degree"
 'high school' 'some high school']

---Race Ethnicity----

['group B' 'group C' 'group A' 'group D' 'group E']

---Test Preparation course----

['none' 'completed']

Defining numerical and categorical features

In [29]:
numeric_features = [feature for feature in data.columns if data[feature].dtype!='O']
categorical_features =[feature for feature in data.columns if data[feature].dtype=='O']

print("We have {} numerical features i.e. {}".format(len(numeric_features),numeric_features))
print("We have {} categorical features i.e. {}".format(len(categorical_features),categorical_features))

We have 3 numerical features i.e. ['math_score', 'reading_score', 'writing_score']
We have 5 categorical features i.e. ['gender', 'race_ethnicity', 'parental_level_of_education', 'lunch', 'test_preparation_course']

Adding columns for total score and average score

In [30]:
data['total'] = data['reading_score']+data['math_score']+data['writing_score']
data['average'] = data['total']/3

In [31]:
data.head()

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score,total,average
0,female,group B,bachelor's degree,standard,none,72,72,74,218,72.666667
1,female,group C,some college,standard,completed,69,90,88,247,82.333333
2,female,group B,master's degree,standard,none,90,95,93,278,92.666667
3,male,group A,associate's degree,free/reduced,none,47,57,44,148,49.333333
4,male,group C,some college,standard,none,76,78,75,229,76.333333

In [32]:
math_full=data[data['math_score']==100]['average'].count()
reading_full=data[data['reading_score']==100]['average'].count()
writing_full = data[data['writing_score']==100]['average'].count()

print("Number of students with full marks in Maths {}".format(math_full))
print(f'Number of students with full marks in reading: {reading_full}')
print(f'Number of students with full marks in writing: {writing_full}')

Number of students with full marks in Maths 7
Number of students with full marks in reading: 17
Number of students with full marks in writing: 14